DATABASE_URL=
DEBUG=
ENVIRONMENT=
SECRET_KEY=
REDIS_URL=

ACCOUNT_SID=
AUTH_TOKEN=
VERIFY_SID=
SMS_FROM=

SENDER_EMAIL=
SENDER_NAME=
SENDGRID_API_KEY=

AWS_DEFAULT_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

EMAIL_VERIFICATION_TTL=21600
EMAIL_VERIFICATION_MAX_TRIALS=5
PHONE_VERIFICATION_TTL=21600
PHONE_VERIFICATION_MAX_TRIALS=3

TEST_OTP="376213"

ACCESS_TOKEN_LIFETIME=3600000
REFRESH_TOKEN_LIFETIME=360
THROTTLE_RATE=1000
THROTTLE_PERIOD=day
